flows.txt
[{"id":"bf6d285b.2d2c28","type":"split","z":"8446b5e4.481088","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":320,"wires":[["d85d0d08.ae7ad"]]},{"id":"43a22a2b.39dd54","type":"inject","z":"8446b5e4.481088","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["31a2afa0.3d656"]]},{"id":"31a2afa0.3d656","type":"http request","z":"8446b5e4.481088","name":"","method":"GET","ret":"txt","url":"http://telematics.oasa.gr/api/?act=getBusLocation&p1=2005","tls":"","x":310,"y":320,"wires":[["1529779f.6230b8"]]},{"id":"d6e33feb.5deca","type":"inject","z":"8446b5e4.481088","name":"Initiallize","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":200,"y":100,"wires":[["3fdb86ef.7c0e8a","70622224.ce4dac","dd4169e3.7e5af8"]]},{"id":"3fdb86ef.7c0e8a","type":"function","z":"8446b5e4.481088","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"Esri Satellite\", url:u, opt:o};\nmsg.payload.command.layer = \"Esri Satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":100,"wires":[["4a6f22ef.b7387c"]]},{"id":"1529779f.6230b8","type":"json","z":"8446b5e4.481088","name":"","property":"payload","action":"","pretty":false,"x":450,"y":380,"wires":[["aea11257.d4dc9"]]},{"id":"4a6f22ef.b7387c","type":"worldmap","z":"8446b5e4.481088","name":"","lat":"37.983810","lon":"23.727539","zoom":"10","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":770,"y":200,"wires":[]},{"id":"aea11257.d4dc9","type":"function","z":"8446b5e4.481088","name":"Bus Location","func":"\nfor (var i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].ROUTE_CODE=='2005'){\n        var lati=msg.payload[i].CS_LAT;\n        var long=msg.payload[i].CS_LNG;\n        var vehicle=msg.payload[i].VEH_NO;\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location='+lati+','+long+'&fov=100&heading=0&pitch=10&key=AIzaSyBgNfZu7twIQzztD2DxaUDJv9zaNl14-EI\" target=\"_blank\" >Bus Location</a>'\n        msg.payload[i] = {\n        name:vehicle, \n        lat:lati, lon:long,icon:\"bus\",iconColor:global.get(\"colorBus\"),url:dashboard\n        \n        };\n    }\n}\n\n return msg;  ","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["4a6f22ef.b7387c","bf6d285b.2d2c28"]]},{"id":"70622224.ce4dac","type":"http request","z":"8446b5e4.481088","name":"","method":"GET","ret":"txt","url":"http://telematics.oasa.gr/api/?act=webGetStops&p1=2005","tls":"","x":390,"y":160,"wires":[["8ec61dd.d19d8e"]]},{"id":"49b1b337.b1656c","type":"function","z":"8446b5e4.481088","name":"Stops","func":"\nfor (var i=0;i<msg.payload.length;i++){\n  \n        var lati=msg.payload[i].StopLat;\n        var long=msg.payload[i].StopLng;\n        var stop=msg.payload[i].StopDescrEng;\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location='+lati+','+long+'&fov=100&heading=0&pitch=10&key=AIzaSyBgNfZu7twIQzztD2DxaUDJv9zaNl14-EI\" target=\"_blank\">Stop Location</a>'\n        msg.payload[i] = {\n        name:stop, \n        lat:lati, lon:long,icon:\"flag-checkered\",iconColor:\"black\",url:dashboard\n        \n        };\n}\n return msg;  ","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["4a6f22ef.b7387c"]]},{"id":"8ec61dd.d19d8e","type":"json","z":"8446b5e4.481088","name":"","property":"payload","action":"","pretty":false,"x":430,"y":240,"wires":[["49b1b337.b1656c"]]},{"id":"d720a1a6.e4883","type":"http request","z":"8446b5e4.481088","name":"","method":"GET","ret":"txt","url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins={{{payload.prevLat}}},{{{payload.prevLon}}}&destinations={{{payload.curLat}}},{{{payload.curLon}}}&key={{{msg.payload.googleApiKey}}}","tls":"","x":790,"y":440,"wires":[["9f73bb5e.6070b8"]]},{"id":"9f73bb5e.6070b8","type":"json","z":"8446b5e4.481088","name":"","property":"payload","action":"","pretty":false,"x":750,"y":500,"wires":[["ea2ce8cd.7d1208"]]},{"id":"603bbd4d.1902c4","type":"function","z":"8446b5e4.481088","name":"get Distance","func":"var dist_meters = msg.payload.rows[0].elements[0].distance.value;\nvar dist_text = msg.payload.rows[0].elements[0].distance.text;\n\nvar veh_no = msg.veh_no;\nmsg.loc = msg.payload.origin_addresses[0];\n\nmsg.payload={};\nmsg.payload.dist=dist_meters;\nmsg.payload.veh_no=veh_no;\nif(dist_meters==0){\n    msg.payload.text=\"The bus \"+veh_no+\" hasnt moved from \"+msg.loc;\n}\nelse if(dist_meters<=5){\n    msg.payload.text=\"Bus \"+veh_no+\"  has only moved \"+dist_text;\n}else{\n    msg.payload.text=\"The Bus \"+veh_no+\"  is moving, Travelled:\"+dist_text;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":500,"wires":[["1c689ecf.91e3b1","2e993827.e786a8"]]},{"id":"1c689ecf.91e3b1","type":"join","z":"8446b5e4.481088","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":440,"wires":[["a8f60a7b.fcc438"]]},{"id":"d7f7dd1.d9c182","type":"debug","z":"8446b5e4.481088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":500,"wires":[]},{"id":"2e993827.e786a8","type":"function","z":"8446b5e4.481088","name":"Inform if Bus is not moving","func":"if(msg.payload.dist==0){\n    \n    msg.payload=msg.payload.text;\n    msg.topic=\"insert into Event values('The bus \"+msg.veh_no+\" has not moved',NOW(),'\"+msg.loc+\"')\"\n    node.send(msg);\n    \n}\n","outputs":1,"noerr":0,"x":1180,"y":540,"wires":[["d7f7dd1.d9c182","b3db9d8a.6c0ca","5be121d2.75037"]]},{"id":"f017ae29.218b4","type":"http in","z":"8446b5e4.481088","name":"Latest Movement Api","url":"/latest","method":"get","upload":false,"swaggerDoc":"","x":1100,"y":100,"wires":[["7aa1c8f.b016938"]]},{"id":"e56ef7b7.bdfb78","type":"http response","z":"8446b5e4.481088","name":"/latest response","statusCode":"200","headers":{},"x":1560,"y":100,"wires":[]},{"id":"a8f60a7b.fcc438","type":"function","z":"8446b5e4.481088","name":"calc avg bus speed","func":"var latest=msg.payload;\nglobal.set(\"latest\",latest);\nvar total_dist=0;\nvar no_of_vehs=0;\nfor(var i=0;i<latest.length;i++){\n    if(latest[i].dist>0){\n        total_dist =+ latest[i].dist;\n        no_of_vehs++;\n    }\n    \n} \n\ntotal_dist=total_dist/(no_of_vehs);\nmsg.debug = \"avg_dist=\"+total_dist;\nmsg.payload = Math.round( (total_dist /global.get(\"Intervaltime\"))*3.6 * 10 ) / 10;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":440,"wires":[["458e5e0e.9c5a7","1e208105.ec677f"]]},{"id":"7aa1c8f.b016938","type":"function","z":"8446b5e4.481088","name":"provide the latest movements","func":"msg.payload =global.get(\"latest\");\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":100,"wires":[["e56ef7b7.bdfb78"]]},{"id":"d85d0d08.ae7ad","type":"function","z":"8446b5e4.481088","name":"filter coordinates","func":"var veh_no = msg.payload.name;\nvar old_timestamp = global.get(\"latest_\"+veh_no);\nvar latest_timestamp = msg.payload;\n\nglobal.set(\"latest_\"+veh_no,latest_timestamp);\n\nmsg.payload={};\nmsg.payload.apikey=global.get(\"googleApiKey\");\nmsg.veh_no=veh_no;\nif(old_timestamp!=null){\nmsg.payload.prevLon = old_timestamp.lon;\nmsg.payload.prevLat = old_timestamp.lat;\n\nmsg.payload.curLon = latest_timestamp.lon;\nmsg.payload.curLat = latest_timestamp.lat;\nnode.send(msg);\n}\n","outputs":1,"noerr":0,"x":800,"y":380,"wires":[["d720a1a6.e4883"]]},{"id":"b3db9d8a.6c0ca","type":"sqldbs","z":"8446b5e4.481088","mydb":"6a79ede3.1cc834","querytype":"Insert","name":"Save events","x":1390,"y":580,"wires":[[]]},{"id":"ff1e87bf.b453b8","type":"http response","z":"8446b5e4.481088","name":"/events response","statusCode":"200","headers":{},"x":1690,"y":180,"wires":[]},{"id":"40bbaa11.9e6694","type":"http in","z":"8446b5e4.481088","name":"Events api","url":"/events","method":"get","upload":false,"swaggerDoc":"","x":1060,"y":180,"wires":[["acf75b19.a97218"]]},{"id":"acf75b19.a97218","type":"function","z":"8446b5e4.481088","name":"Event prepare query","func":"msg.topic = \"select * from Event\";\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":180,"wires":[["8851260c.93a7e8"]]},{"id":"8851260c.93a7e8","type":"sqldbs","z":"8446b5e4.481088","mydb":"6a79ede3.1cc834","querytype":"select","name":"Events","x":1410,"y":180,"wires":[["d1c9d3f4.7351"]]},{"id":"d1c9d3f4.7351","type":"function","z":"8446b5e4.481088","name":"Filter","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":180,"wires":[["ff1e87bf.b453b8"]]},{"id":"458e5e0e.9c5a7","type":"ui_gauge","z":"8446b5e4.481088","name":"","group":"ba0073de.3ad04","order":0,"width":0,"height":0,"gtype":"gage","title":"Average Bus speed","label":"km/h","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":460,"wires":[]},{"id":"5be121d2.75037","type":"ui_toast","z":"8446b5e4.481088","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"A Bus didn't move!","name":"","x":1430,"y":540,"wires":[]},{"id":"dd4169e3.7e5af8","type":"function","z":"8446b5e4.481088","name":"init values","func":"global.set(\"Intervaltime\",15);\nglobal.set(\"googleApiKey\",\"AIzaSyDDD9T6NTjvSw78KiyrG-jx1GOY8r4GE-o\");\nglobal.set(\"maxDistance\",500);\nglobal.set(\"colorBus\",\"orange\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":40,"wires":[[]]},{"id":"54d0c9d6.5dfee8","type":"nma","z":"8446b5e4.481088","title":"","name":"","x":1600,"y":500,"wires":[]},{"id":"ea2ce8cd.7d1208","type":"function","z":"8446b5e4.481088","name":"filter ","func":"//Due to google api some data are junk, in this function we remove the trash data\n\nvar street_name = msg.payload.destination_addresses[0];\nvar dist = msg.payload.rows[0].elements[0].distance.value\n\nif(street_name.includes(\"Akti Miaouli\")||dist>=500){\n    \n   \n}else {\n     node.send(msg);\n}\n\n\n","outputs":1,"noerr":0,"x":830,"y":540,"wires":[["603bbd4d.1902c4"]]},{"id":"f7fe0f7.0f2b1f","type":"inject","z":"8446b5e4.481088","name":"delete old events","topic":"delete from Event WHERE (Minute( NOW() - time) >10 Or Minute(NOW() - time)=null)","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["ad7ba4f5.7f9358"]]},{"id":"ad7ba4f5.7f9358","type":"sqldbs","z":"8446b5e4.481088","mydb":"6a79ede3.1cc834","querytype":"delete","name":"","x":320,"y":780,"wires":[["33d5103f.2370a"]]},{"id":"1e208105.ec677f","type":"function","z":"8446b5e4.481088","name":"check for high average speed","func":"if (msg.payload>45){\n    msg.payload=\"The average speed is high!\";\n    global.set(\"colorBus\",\"green\");\n    msg.topic=\"insert into Event values('The Average Bus speed is high(\"+msg.payload+\")',NOW(),'Pireaus - Syntagma')\";\n    node.send(msg)\n}else if(msg.payload>20){\n    global.set(\"colorBus\",\"orange\");\n}else{\n    global.set(\"colorBus\",\"red\");\n}\n//node.send(msg);","outputs":1,"noerr":0,"x":1550,"y":400,"wires":[["5ba31db9.2332a4"]]},{"id":"5ba31db9.2332a4","type":"sqldbs","z":"8446b5e4.481088","mydb":"6a79ede3.1cc834","querytype":"Insert","name":"","x":1760,"y":400,"wires":[[]]},{"id":"ea49e01c.cc0bd","type":"ui_toast","z":"8446b5e4.481088","position":"top left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":620,"y":880,"wires":[]},{"id":"33d5103f.2370a","type":"function","z":"8446b5e4.481088","name":"Send notification to dashboard","func":"msg.topic = 'Auto Delete';\nmsg.payload = 'Deleted '+msg.payload[0].affectedRows+' rows';\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":880,"wires":[["ea49e01c.cc0bd"]]},{"id":"6a79ede3.1cc834","type":"sqldbsdatabase","z":"","host":"83.212.105.20","port":"3306","db":"it21521","dialect":"mysql"},{"id":"ba0073de.3ad04","type":"ui_group","z":"","name":"Bus info","tab":"6739fa2a.b5edd4","disp":true,"width":"6","collapse":false},{"id":"6739fa2a.b5edd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
