flows.txt
[{"id":"a042b572.d62088","type":"split","z":"a11841c4.e9f5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":970,"y":340,"wires":[["39d13ff8.da0c7"]]},{"id":"d3631b2d.d8f7f8","type":"inject","z":"a11841c4.e9f5","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["887a0b64.8dde28"]]},{"id":"887a0b64.8dde28","type":"http request","z":"a11841c4.e9f5","name":"","method":"GET","ret":"txt","url":"http://telematics.oasa.gr/api/?act=getBusLocation&p1=2005","tls":"","x":430,"y":400,"wires":[["d798af7c.f34b8"]]},{"id":"5581f7fa.9aa0b8","type":"inject","z":"a11841c4.e9f5","name":"Initiallize","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":320,"y":100,"wires":[["f075b52b.fed108","6d05068e.593a88","3601278b.e597a8"]]},{"id":"f075b52b.fed108","type":"function","z":"a11841c4.e9f5","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"Esri Satellite\", url:u, opt:o};\nmsg.payload.command.layer = \"Esri Satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":100,"wires":[["c8e217d3.b94b98"]]},{"id":"d798af7c.f34b8","type":"json","z":"a11841c4.e9f5","name":"","property":"payload","action":"","pretty":false,"x":570,"y":480,"wires":[["7ac34024.acb3e"]]},{"id":"c8e217d3.b94b98","type":"worldmap","z":"a11841c4.e9f5","name":"","lat":"37.983810","lon":"23.727539","zoom":"10","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":970,"y":200,"wires":[]},{"id":"7ac34024.acb3e","type":"function","z":"a11841c4.e9f5","name":"Bus Location","func":"\nfor (var i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].ROUTE_CODE=='2005'){\n        var lati=msg.payload[i].CS_LAT;\n        var long=msg.payload[i].CS_LNG;\n        var vehicle=msg.payload[i].VEH_NO;\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location='+lati+','+long+'&fov=100&heading=0&pitch=10&key=AIzaSyBgNfZu7twIQzztD2DxaUDJv9zaNl14-EI\" target=\"_blank\" >Bus Location</a>'\n        msg.payload[i] = {\n        name:vehicle, \n        lat:lati, lon:long,icon:\"bus\",iconColor:\"orange\",url:dashboard\n        \n        };\n    }\n}\n\n return msg;  ","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["c8e217d3.b94b98","a042b572.d62088"]]},{"id":"6d05068e.593a88","type":"http request","z":"a11841c4.e9f5","name":"","method":"GET","ret":"txt","url":"http://telematics.oasa.gr/api/?act=webGetStops&p1=2005","tls":"","x":550,"y":160,"wires":[["78fa0769.6e0678"]]},{"id":"259b6a65.16db76","type":"function","z":"a11841c4.e9f5","name":"Stops","func":"\nfor (var i=0;i<msg.payload.length;i++){\n  \n        var lati=msg.payload[i].StopLat;\n        var long=msg.payload[i].StopLng;\n        var stop=msg.payload[i].StopDescrEng;\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location='+lati+','+long+'&fov=100&heading=0&pitch=10&key=AIzaSyBgNfZu7twIQzztD2DxaUDJv9zaNl14-EI\">Stop Location</a>'\n        msg.payload[i] = {\n        name:stop, \n        lat:lati, lon:long,icon:\"flag-checkered\",iconColor:\"black\",url:dashboard\n        \n        };\n}\n return msg;  ","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["c8e217d3.b94b98"]]},{"id":"78fa0769.6e0678","type":"json","z":"a11841c4.e9f5","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["259b6a65.16db76"]]},{"id":"a65b5b16.0ef938","type":"http request","z":"a11841c4.e9f5","name":"","method":"GET","ret":"txt","url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins={{{payload.prevLat}}},{{{payload.prevLon}}}&destinations={{{payload.curLat}}},{{{payload.curLon}}}&key={{{msg.payload.googleApiKey}}}","tls":"","x":970,"y":520,"wires":[["425d5bab.a852a4"]]},{"id":"425d5bab.a852a4","type":"json","z":"a11841c4.e9f5","name":"","property":"payload","action":"","pretty":false,"x":810,"y":620,"wires":[["ad923a07.209138"]]},{"id":"49400e44.64ba7","type":"function","z":"a11841c4.e9f5","name":"get Distance","func":"var dist_meters = msg.payload.rows[0].elements[0].distance.value;\nvar dist_text = msg.payload.rows[0].elements[0].distance.text;\n\nvar veh_no = msg.veh_no;\nmsg.loc = msg.payload.origin_addresses[0];\n\nmsg.payload={};\nmsg.payload.dist=dist_meters;\nmsg.payload.veh_no=veh_no;\nif(dist_meters==0){\n    msg.payload.text=\"The bus \"+veh_no+\" hasnt moved from \"+msg.loc;\n}\nelse if(dist_meters<=5){\n    msg.payload.text=\"Bus \"+veh_no+\"  has only moved \"+dist_text;\n}else{\n    msg.payload.text=\"The Bus \"+veh_no+\"  is moving, Travelled:\"+dist_text;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":620,"wires":[["948ed12.b20c43","8e5c23aa.22398"]]},{"id":"948ed12.b20c43","type":"join","z":"a11841c4.e9f5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":460,"wires":[["f38a756c.6eef38"]]},{"id":"eb1dc7bf.274e08","type":"debug","z":"a11841c4.e9f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":560,"wires":[]},{"id":"8e5c23aa.22398","type":"function","z":"a11841c4.e9f5","name":"Inform if Bus is not moving","func":"if(msg.payload.dist==0){\n    \n    msg.payload=msg.payload.text;\n    msg.topic=\"insert into Event values('The bus \"+msg.veh_no+\" has not moved',NOW(),'\"+msg.loc+\"')\"\n    node.send(msg);\n    \n}\n","outputs":1,"noerr":0,"x":1400,"y":560,"wires":[["eb1dc7bf.274e08","7edc3db3.b96474","b2c0ec48.585f8"]]},{"id":"8157ccea.cfd5b","type":"http in","z":"a11841c4.e9f5","name":"Latest Movement Api","url":"/latest","method":"get","upload":false,"swaggerDoc":"","x":1360,"y":60,"wires":[["ef930e7a.7a569"]]},{"id":"a5c06b8d.aab1a8","type":"http response","z":"a11841c4.e9f5","name":"/latest response","statusCode":"200","headers":{},"x":1940,"y":60,"wires":[]},{"id":"f38a756c.6eef38","type":"function","z":"a11841c4.e9f5","name":"calc avg bus speed","func":"var latest=msg.payload;\nglobal.set(\"latest\",latest);\nvar total_dist=0;\nfor(var i=0;i<latest.length;i++){\n    total_dist =+ latest[i].dist;\n} \n\nmsg.payload = Math.round( (total_dist /global.get(\"Intervaltime\"))*3.6 * 10 ) / 10;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":400,"wires":[["9b05a728.8bcfc8","309f855d.62ee2a"]]},{"id":"ef930e7a.7a569","type":"function","z":"a11841c4.e9f5","name":"provide the latest movements","func":"msg.payload =global.get(\"latest\");\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":60,"wires":[["a5c06b8d.aab1a8"]]},{"id":"39d13ff8.da0c7","type":"function","z":"a11841c4.e9f5","name":"filter coordinates","func":"var veh_no = msg.payload.name;\nvar old_timestamp = global.get(\"latest_\"+veh_no);\nvar latest_timestamp = msg.payload;\n\nglobal.set(\"latest_\"+veh_no,latest_timestamp);\n\nmsg.payload={};\nmsg.payload.apikey=global.get(\"googleApiKey\");\nmsg.veh_no=veh_no;\nif(old_timestamp!=null){\nmsg.payload.prevLon = old_timestamp.lon;\nmsg.payload.prevLat = old_timestamp.lat;\n\nmsg.payload.curLon = latest_timestamp.lon;\nmsg.payload.curLat = latest_timestamp.lat;\nnode.send(msg);\n}\n","outputs":1,"noerr":0,"x":980,"y":440,"wires":[["a65b5b16.0ef938"]]},{"id":"7edc3db3.b96474","type":"sqldbs","z":"a11841c4.e9f5","mydb":"15b0c865.51d2a8","querytype":"Insert","name":"Save events","x":1690,"y":680,"wires":[[]]},{"id":"5e0a8fc5.13a74","type":"http response","z":"a11841c4.e9f5","name":"/events response","statusCode":"200","headers":{},"x":1670,"y":240,"wires":[]},{"id":"2929e245.cde68e","type":"http in","z":"a11841c4.e9f5","name":"Events api","url":"/events","method":"get","upload":false,"swaggerDoc":"","x":1320,"y":160,"wires":[["331c0dd2.01f952"]]},{"id":"331c0dd2.01f952","type":"function","z":"a11841c4.e9f5","name":"Event prepare query","func":"msg.topic = \"select * from Event\";\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":160,"wires":[["dedd1bab.097158"]]},{"id":"dedd1bab.097158","type":"sqldbs","z":"a11841c4.e9f5","mydb":"15b0c865.51d2a8","querytype":"select","name":"Events","x":1810,"y":160,"wires":[["f5058c6f.14b0c"]]},{"id":"f5058c6f.14b0c","type":"function","z":"a11841c4.e9f5","name":"Filter","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":240,"wires":[["5e0a8fc5.13a74"]]},{"id":"9b05a728.8bcfc8","type":"ui_gauge","z":"a11841c4.e9f5","name":"","group":"505177eb.c31048","order":0,"width":0,"height":0,"gtype":"gage","title":"Average Bus speed","label":"km/h","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1840,"y":400,"wires":[]},{"id":"b2c0ec48.585f8","type":"ui_toast","z":"a11841c4.e9f5","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"A Bus didn't move!","name":"","x":1750,"y":620,"wires":[]},{"id":"3601278b.e597a8","type":"function","z":"a11841c4.e9f5","name":"init values","func":"global.set(\"Intervaltime\",15);\nglobal.set(\"googleApiKey\",\"AIzaSyDDD9T6NTjvSw78KiyrG-jx1GOY8r4GE-o\");\nglobal.set(\"maxDistance\",500);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"68e80148.a8584","type":"nma","z":"a11841c4.e9f5","title":"","name":"","x":1720,"y":500,"wires":[]},{"id":"ad923a07.209138","type":"function","z":"a11841c4.e9f5","name":"filter ","func":"//Due to google api some data are junk, in this function we remove the trash data\n\nvar street_name = msg.payload.destination_addresses[0];\nvar dist = msg.payload.rows[0].elements[0].distance.value\n\nif(street_name.includes(\"Akti Miaouli\")||dist>=500){\n    \n   \n}else {\n     node.send(msg);\n}\n\n\n","outputs":1,"noerr":0,"x":930,"y":740,"wires":[["49400e44.64ba7"]]},{"id":"351badef.cd8932","type":"inject","z":"a11841c4.e9f5","name":"delete old events","topic":"delete from Event WHERE (Minute( NOW() - time) >10 Or Minute(NOW() - time)=null)","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":780,"wires":[["8329982e.e8c538"]]},{"id":"8329982e.e8c538","type":"sqldbs","z":"a11841c4.e9f5","mydb":"15b0c865.51d2a8","querytype":"delete","name":"","x":440,"y":780,"wires":[["e2fb957a.33a2d8"]]},{"id":"309f855d.62ee2a","type":"function","z":"a11841c4.e9f5","name":"check for high average speed","func":"if (msg.payload>85){\n    msg.payload=\"The average speed is high!\";\n    msg.topic=\"insert into Event('The Average Bus speed is high(\"+msg.payload\")',NOW(),'Pireaus - Syntagma')\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":1760,"y":340,"wires":[["b07fab1.612cb58"]]},{"id":"b07fab1.612cb58","type":"sqldbs","z":"a11841c4.e9f5","mydb":"15b0c865.51d2a8","querytype":"Insert","name":"","x":2020,"y":340,"wires":[[]]},{"id":"c118085d.b12b18","type":"ui_toast","z":"a11841c4.e9f5","position":"top left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":740,"y":880,"wires":[]},{"id":"e2fb957a.33a2d8","type":"function","z":"a11841c4.e9f5","name":"Send notification to dashboard","func":"msg.topic = 'Auto Delete';\nmsg.payload = 'Deleted '+msg.payload[0].affectedRows+' rows';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":880,"wires":[["c118085d.b12b18"]]},{"id":"15b0c865.51d2a8","type":"sqldbsdatabase","z":"","host":"83.212.105.20","port":"3306","db":"it21521","dialect":"mysql"},{"id":"505177eb.c31048","type":"ui_group","z":"","name":"Bus info","tab":"c25ac098.a395f","disp":true,"width":"6","collapse":false},{"id":"c25ac098.a395f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
